@charset "utf-8";
/* CSS document */

/* ma première feuille de style externe */

/* des styles simples pour des fonds de couleur */

.fond_orange {
    background: orangered;
}
.fond_rouge {
    background: red;
}
.fond_vert {
    background: greenyellow;
}
.fond_bleu {
    background: lightskyblue;
}
.fond_gris {
    background: lightgrey;
}
/* les styles de la page */
body  {
    margin: auto; /* margin c'est la marge extérieur d'un élément */
    background-color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper { 
    background-color: lightgrey;
    width: 1000px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}  
/* le hautde page  */
header {
    background: url(../img/panorama.jpg) center top no-repeat;
    height: 420px;
    /* hauteur de l'élément */
    border: 2px solid brown;
}

/* le côté de la page */
aside {
    width: 280px;
    float: left;
    padding: 10px;     
    
}
/* le contenu principal */
#main {
    width: 680px;
    float: right;
    padding: 10px;
}
/* la classe pour tout remettre dans le flux normal */
.clear{
    clear: both;
}
/* le pied de page */
footer{
    height: 236px;
    border: 2px solid purple;  
}

/* le formulaire sur le CSS */
form {
    background: whitesmoke; 
    padding: 10px;
    width: 80%;

}
fieldset {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px dashed solid rebeccapurple;
    width: 80%;
}
legend {
    font-weight: 800;
    color: rebeccapurple;
    
}
label {
    background-color:orangered;
    color: white;
    margin-top: 10px;
    /* display: block permet d'aller à la ligne automatiquement */
    display: block;
    width: 300px;
}
label.inline {
    /* tous les labels qui ont la classe .inline */
    display:inline;
    margin-right: 50px;
}
input, textarea, select {
    /* pour styler plusieurs éléments et leur donner des attributs communs */
    border: 1px solid rebeccapurple;
    padding: 3px;
    box-shadow: 1px 1px 2px grey;
}
select {
    margin-top: 5px;
}
