@charset "utf-8";
/* CSS document */

/* ma première feuille de style externe */

/* des styles simples pour des fonds de couleur */

.fond_orange {
    background: orangered;
}
.fond_rouge {
    background: red;
}
.fond_vert {
    background: greenyellow;
}
.fond_bleu {
    background: lightskyblue;
}
.fond_gris {
    background: lightgrey;
}
/* les styles de la page */
body  {
    margin: auto; /* margin c'est la marge extérieur d'un élément */
    background-color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper { 
    width: 1000px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}  
/* le hautde page  */
header {
    height: 236px;
    /* hauteur de l'élément */
    border: 2px solid brown;
}

/* le côté de la page */
aside {
    width: 280px;
    float: left;   
    
}
/* le contenu principal */
#main {
    width: 700px;
    float: right;
}
/* la classe pour tout remettre dans le flux normal */
.clear{
    clear: both;
}
/* le pied de page */
footer{
    height: 236px;
    border: 2px solid purple;  
}
