@charset "utf-8";
/* CSS document */
/* ma première feuille de style externe */
/* des styles simples pour des fonds de couleur */
.fond_orange {
    background: orangered;
}
.fond_rouge {
    background: red;
}
.fond_vert {
    background: greenyellow;
}
.fond_bleu {
    background: lightskyblue;
}
.fond_gris {
    background: lightgrey;
}
/* les styles de la page */
body  {
    margin: auto; /* margin c'est la marge extérieur d'un élément */
   /*  background-color: blueviolet; */
   background: linear-gradient(rgb(214, 185, 17),rgb(165, 82, 52));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper { 
    background-color: lightgrey;
    width: 1200px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}  
/* le hautde page  */
header {/* background: url(../img/panorama.jpg) center top no-repeat; */
    background: url(../img/panorama.jpg) center top no-repeat, linear-gradient(lightskyblue, white);
    height: 406px;
    /* hauteur de l'élément */
    border: 2px solid brown;
}
header h1 {
    background-color: white;
    text-transform: uppercase;
    width: 20%;
    text-align: center;   
    margin-left: 10%;
}
header h1 a {
    text-decoration: none;
    color: #333;
}
header h1 a:hover {
    text-decoration: underline;background-color: #333;
    color: white;
}
.text_droite {text-align: right;
}
/* le côté de la page */
aside {
    width: 280px;
    float: left;
    padding: 10px;    
}
/* les liens ne sont pas soulignés par défaut */
nav a {
    text-decoration: none;
}
/* la navigation et les styles des liens */
/* les pseudos class */
/* quand le lien n'est pas visité */
nav a:link {
    color: orangered;
}
 /* quand le lien a été visité */
nav a:visited {
     color: lightseagreen;
}
/* au survol de la souris */
nav a:hover {
    color: white;
    /* background: orange; */
    text-decoration: underline;
}
nav ul li {
    list-style-type: none;
    /* list-style-image: url('../img/globe_fleche.png'); */
}
/* le contenu principal */
#main {
    width: 880px;
    float: right;
    padding: 10px;
}
/* la classe pour tout remettre dans le flux normal */
.clear{
    clear: both;
}
/* le pied de page */
footer{
    height: 120px;
    border: 2px solid purple;
    margin-bottom: 10px;  
}
/* le formulaire sur le CSS */
form {
    background: whitesmoke; 
    padding: 10px;
    width: 80%;
}
fieldset {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px dashed solid rebeccapurple;
    width: 80%;
}
legend {
    font-weight: 800;
    color: rebeccapurple;
}
label {
    background-color:orangered;
    color: white;
    margin-top: 10px;
    /* display: block permet d'aller à la ligne automatiquement */
    display: block;
    width: 300px;
}
label.inline {
    /* tous les labels qui ont la classe .inline */
    display:inline;
    margin-right: 50px;
}
input, textarea, select {
    /* pour styler plusieurs éléments et leur donner des attributs communs */
    border: 1px solid rebeccapurple;
    padding: 3px;
    box-shadow: 1px 1px 2px grey;
}
select {
    margin-top: 5px;
}
/* le tableau */
table {
    border-collapse: collapse; /* fusionne toutes les bordures stylées ci-après */
}
table, th, td, caption {
    border: 2px solid whitesmoke;
}
th,td {
    padding: 8px;
}
tr:hover { /* une pseudo classe: hover au passage de la souris */
    background-color: lightskyblue;
}
caption, th, tfoot {
    text-align: left;
    background-color: red;
    color: whitesmoke;
    padding: 8px;    
}
caption {
    caption-side: top;
    text-transform: uppercase;
}
/* différents styles de bordures */

.filetgauche {/* un filet à gauche du bloc */
    border-left: 6px solid blue
}
.cartouche{/* un essai de bordure avec des coins arrondis */
border: 2px solid orange;
border-radius: 40px;
padding: 25px;
}
/* ici pour l'astuce au survol dans la page texte */
#survol p {
    display: none;
    background-color: yellow;
    padding: 20px;
}
#survol:hover p {
    display: block;
}
